<div class="mt-4">
    <div class="row">
        <div class="col-lg-6">
            <h3>Đăng Nhập</h3>
            <div class="form-login-header">
                <small id="emailHelp" class="form-text text-muted">Nếu bạn đã có tài khoản , xin vui lòng đăng nhập.</small>
            </div>
            <form id="loginForm" action="/auth/signin" method="POST">
                <div class="form-group">
                    <label for="email">Tài Khoản</label>
                    <input type="text" class="form-control" id="email" aria-describedby="emailHelp">    
                </div>
                <div class="form-group">
                    <label for="password">Mật Khẩu</label>
                    <input type="password" class="form-control" id="password">
                </div>
                <div>
                    <a href="/auth/forgot">Quên Mật Khẩu?</a>
                </div>
                {{!-- <input type="hidden" name="_csrf" value="{{csrfToken}}"> --}}
                <button type="submit" class="btn btn-primary login-btn">Đăng Nhập</button>
            </form>
        </div>
        <div class="col-lg-6">
            <h5>KHÁCH HÀNG MỚI</h5>
            <small id="emailHelp" class="form-text text-muted">Bằng cách tạo một tài khoản với cửa hàng của chúng tôi , bạn sẽ có thể thực hiện những quy trình mua hàng nhanh hơn , lưu trữ nhiều địa chỉ gửi hàng , xem và theo dõi đơn đặt hàng của bạn trong tài khoản của bạn và nhiều hơn nữa .</small>
            <button type="button" class="btn btn-primary">
                <a href="/auth/register" style="color: #ffffff;">Tạo Tài Khoản</a>
            </button>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const loginForm = document.getElementById('loginForm');

        loginForm.addEventListener('submit', async function (event) {
            event.preventDefault(); // Ngăn chặn hành động mặc định của form

            const email = document.getElementById('email').value;
            const password = document.getElementById('password').value;

            // Gửi yêu cầu đăng nhập đến server, ví dụ sử dụng Fetch API
            try {
                const response = await fetch('/auth/signin', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        email: email,
                        password: password
                    })
                });

                if (response.ok) {
                    const responseData = await response.json();
                    console.log(responseData)

                    // Kiểm tra nếu người dùng là admin
                    if (responseData.email === "admin@gmail.com") {
                        alert('Đăng nhập thành công (Admin)');
                        // Chuyển hướng sang trang index của admin
                        window.location.href = '/admin/index';
                    } else {
                        alert('Đăng nhập thành công');
                        // Chuyển hướng sang trang chính (trang dành cho người dùng)
                        window.location.href = '/';
                    }
                } else {
                    // Xử lý khi đăng nhập thất bại, ví dụ hiển thị thông báo lỗi
                    alert('Đăng nhập thất bại. Tài khoản hoặc mật khẩu không đúng');
                    window.location.reload();
                }
            } catch (error) {
                console.error('Lỗi kết nối đến server', error);
            }
        });
    });

</script>