<div class="footer">
    <div class="footer-container">
        <div class="footer-content">
            <h4>Địa Chỉ Liên Hệ</h4>
            <p><i class="fa-regular fa-envelope" style="color: #ffffff;"></i>: NikeSport@gmail.com</p>
            <p><i class="fa-solid fa-phone" style="color: #ffffff;"></i>: 0123456789</p>
            <p><i class="fa-solid fa-location-dot" style="color: #ffffff;"></i>: 1/4 Ngọc Đông, Mỹ Xuyên, Sóc Trăng</p>
        </div>
        <div class="footer-content">
            <h4>Về Chúng Tôi</h4>
            <a class="footer-img" href="/">
                <img src="https://rubee.com.vn/admin/webroot/upload/image/images/nike-logo.jpg" width="100" height="100" class="d-inline-block align-top img-logo" alt="">
            </a>
        </div>
        <div class="footer-content">
            <h4>Theo Dõi Chúng Tôi</h4>
            <ul class="list">
                <li ><a href="" style="color: #ffffff;"><i class="fa-brands fa-facebook"></i> Facebook</a></li>
                <li ><a href="" style="color: #ffffff;"><i class="fa-brands fa-instagram"></i> Instagram</a></li>
                <li ><a href="" style="color: #ffffff;"><i class="fa-brands fa-tiktok"></i> Tiktok</a></li>
            </ul>
        </div>
        <div class="footer-content">
            <h4>Chăm Sóc Khách Hàng</h4>
            <li><a href="" style="color: #ffffff;">Trung Tâm Hỗ Trợ</a></li>
            <li><a href="" style="color: #ffffff;">Hướng Dẫn Mua Hàng</a></li>
        </div>
    </div>
    <div class="bottom-bar">
        <p>
        &copy Copyright
        <!--start getdate tody-->
        <script>
            document.write(new Date().getFullYear());
        </script>
        All rights reserved
        <!--end getdate tody -->
        </p>
    </div>
</div>